@{
    Layout = "~/Views/shared/_Layout.cshtml";
    ViewBag.Title = "Soft Bilisim | Kurumsal | Ekibimiz";
    ViewBag.Description = "Soft Bilisim ekibimiz kurumsal sayfası";
    ViewBag.Keywords = "soft, bilisim, ekibimiz, kurumsal, sayfası";
}

<h2>Ekibimiz</h2>
