@{
    Layout = "~/Views/shared/_Layout.cshtml";
    ViewBag.Title = "Soft Bilisim | Kurumsal | Hakkımızda";
    ViewBag.Description = "Soft Bilisim hakkımızda kurumsal sayfası";
    ViewBag.Keywords = "soft, bilisim, hakkımızda, kurumsal, sayfası";
}

<div class="content-text">
    <h2 style="margin-top: 15px;">Hakkımızda</h2>

    <div class="img-left-box">
        <img src="~/Content/img/sunucuodasi-alt.jpg" alt="sunucu odası alt" class="img-left-bottom" />
        <img src="~/Content/img/sunucuodasi.jpg" alt="sunucu odası" class="img-left-top" />
    </div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rhoncus nisl neque, ut posuere eros ultricies eget. Vivamus ut blandit magna. Mauris eleifend nibh in est commodo, nec aliquet mi lobortis. Nunc lobortis nibh vel blandit mattis. Curabitur eros eros, sodales in vulputate in, facilisis et libero. Fusce orci augue, dignissim ut varius sit amet, viverra a sem. Vivamus vitae nunc consequat, condimentum metus eget, malesuada enim. Morbi feugiat tristique quam, nec rutrum metus. Aenean elementum velit nec libero semper luctus. Cras a lacus vulputate purus hendrerit ullamcorper. Aenean tempor tincidunt nulla, vitae pulvinar elit commodo fringilla. In sit amet turpis nulla. Etiam malesuada, tellus id gravida rhoncus, velit diam fringilla nulla, non varius leo justo sed velit. Quisque molestie erat odio, at elementum elit euismod ac.
    </p>
    <p>
        Pellentesque et quam id augue lobortis vestibulum non et quam. Vestibulum elementum ac leo nec aliquet. Nam eleifend tristique lorem, id condimentum metus vehicula eget. Duis faucibus nisl a venenatis bibendum. Nulla suscipit odio ac sapien vestibulum, eu egestas lorem ultricies. Ut quis rhoncus massa. Pellentesque venenatis diam vel tellus commodo malesuada. Nullam in turpis nunc. Duis euismod mattis mi, id convallis nunc iaculis posuere. Fusce vitae ultricies est. Donec dapibus dolor orci, nec sodales massa placerat eu. Sed magna quam, pretium vel vulputate non, vestibulum in ipsum. Nunc venenatis, nulla a sollicitudin faucibus, lorem leo faucibus dui, ullamcorper feugiat augue ligula vitae erat. Quisque in nibh quis enim elementum facilisis sit amet vel dui.
    </p>
</div>