@{
    Layout = "~/Views/shared/_Layout.cshtml";
    ViewBag.Title = "Soft Bilisim | Kurumsal";
    ViewBag.Description = "Soft Bilisim kurumsal sayfası";
    ViewBag.Keywords = "soft, bilisim, kurumsal, kurumsal";
}

<h2>Kurumsal</h2>
