@{
    Layout = "~/Views/shared/_Layout.cshtml";
    ViewBag.Title = "Soft Bilisim | Kurumsal | Referanslar";
    ViewBag.Description = "Soft Bilisim referanslar kuruksal sayfası";
    ViewBag.Keywords = "soft, bilisim, referanslar, referanslar, sitesi";
}

<div class="content-text">
    <h2>Referanslar</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rhoncus nisl neque, ut posuere eros ultricies eget. Vivamus ut blandit magna. Mauris eleifend nibh in est commodo, nec aliquet mi lobortis.
    </p>

    <div class="references">
        <div class="tile">
            <img src="/Content/img/powerlove-ref.jpg" alt="powerlove fm referans" class="tile-img" />
            <h3>Power Love FM<br />Web Hosting, Design</h3>
            <a href="http://www.powerlovefm.com.tr/" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>
        <div class="tile">
            <img src="/Content/img/radioeksen-ref.jpg" alt="radio eksen referans" class="tile-img" />
            <h3>Radyo Eksen<br />Web Hosting</h3>
            <a href="http://www.radioeksen.com/" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>
        <div class="tile">
            <img src="/Content/img/oes-ref.jpg" alt="online ehliyet sınavları referans" class="tile-img" />
            <h3>Online Ehliyet Sınavları<br />Web Hosting, Design</h3>
            <a href="http://www.onlineehliyetsinavlari.com/" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>
        <div class="tile">
            <img src="/Content/img/sikayetvar-ref.jpg" alt="şikayet var referans" class="tile-img" />
            <h3>Şikayetvar<br />Web Hosting, Design</h3>
            <a href="http://www.sikayetvar.com/" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>
        <div class="tile">
            <img src="/Content/img/n11-ref.jpg" alt="n11.com referans" class="tile-img" />
            <h3>n11.com<br />Web Hosting, CMS</h3>
            <a href="http://www.n11.com/" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>
        <div class="tile">
            <img src="/Content/img/sayyac-ref.jpg" alt="sayyaç referans" class="tile-img" />
            <h3>Sayyaç<br />Web Hosting</h3>
            <a href="http://www.sayyac.com/" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>
        <div class="tile">
            <img src="/Content/img/roketsan-ref.jpg" alt="roketsan referans" class="tile-img" />
            <h3>ROKETSAN<br />Web Hosting</h3>
            <a href="http://www.roketsan.com.tr/" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>
        <div class="tile">
            <img src="/Content/img/aselsan-ref.jpg" alt="aselsan  referans" class="tile-img" />
            <h3>ASELSAN<br />Web Hosting</h3>
            <a href="http://www.aselsan.com.tr/" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>
        <div class="tile">
            <img src="/Content/img/tai-ref.jpg" alt="tai referans" class="tile-img" />
            <h3>TAI<br />Web Hosting, Design</h3>
            <a href="https://www.tai.com.tr/tr" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>
        <div class="tile">
            <img src="/Content/img/webmastersitesi-ref.jpg" alt="webmaster sitesi referans" class="tile-img" />
            <h3>Webmaster Sitesi<br />Web Hosting</h3>
            <a href="http://www.webmastersitesi.com/" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>
        <div class="tile">
            <img src="/Content/img/limango-ref.jpg" alt="limango referans" class="tile-img" />
            <h3>Limango<br />Web Hosting, CMS</h3>
            <a href="https://limango.com.tr" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>
        <div class="tile">
            <img src="/Content/img/hizlial-ref.jpg" alt="hızlıal referans" class="tile-img" />
            <h3>Hızlı Al<br />Web Hosting, CMS</h3>
            <a href="http://www.hizlial.com/" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>
        <div class="tile">
            <img src="/Content/img/gezginler-ref.jpg" alt="gezginler referans" class="tile-img" />
            <h3>Gezginler<br />Web Hosting</h3>
            <a href="http://www.gezginler.net/" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>
        <div class="tile">
            <img src="/Content/img/ucuzu-ref.jpg" alt="ucuzu referans" class="tile-img" />
            <h3>Ucuzu<br />Web Hosting, CMS</h3>
            <a href="http://www.ucuzu.com/" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>
        <div class="tile">
            <img src="/Content/img/yemeksepeti-ref.jpg" alt="yemeksepeti referans" class="tile-img" />
            <h3>Yemeksepeti<br />Web Hosting, CMS</h3>
            <a href="http://www.yemeksepeti.com/" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>
        <div class="tile">
            <img src="/Content/img/uzmantv-ref.jpg" alt="uzmantv referans" class="tile-img" />
            <h3>Uzman TV<br />Web Hosting, Design</h3>
            <a href="http://www.uzmantv.com/" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>
        <div style="clear: both;"></div>
    </div>

    <script>
        $(function () {
            var $container = $('.references'),
                $tiles = $container.children('.tile'),
                zaman;
            $tiles.on('mouseenter', function (event) {
                var $tile = $(this);
                clearTimeout(zaman);
                zaman = setTimeout(function () {
                    if ($tile.hasClass('active')) return false;

                    $tiles.not($tile.removeClass('passive').addClass('active'))
                             .removeClass('active')
                             .addClass('passive');
                });
            });
            $container.on('mouseleave', function (event) {
                clearTimeout(zaman);
                $tiles.removeClass('active passive');
            });
        })
    </script>
</div>
