@{
    Layout = "~/Views/shared/_Layout.cshtml";
    ViewBag.Title = "Soft Bilisim | Ürünler";
    ViewBag.Description = "Soft Bilisim ürünler sayfası";
    ViewBag.Keywords = "soft, bilisim, ürünler, ürünler";
}


<h2>Ürünler</h2>
