@{
    Layout = "~/Views/shared/_Layout.cshtml";
    ViewBag.Title = "Soft Bilisim | Online Destek";
    ViewBag.Description = "Soft Bilisim online destek sayfası";
    ViewBag.Keywords = "soft, bilisim, online, destek, sayfası";
}

<h2>Online Destek</h2>