@{
    ViewBag.Title = "Bize Dair";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bize Dair</h1>

<img src="~/Content/img/resim.jpg" alt="resim açıklaması" class="img-left" />

<img src="/Content/img/resim.jpg" alt="resim açıklaması" class="img-left" />
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elementum mauris in lacus elementum aliquam. Ut finibus nunc sit amet convallis dapibus. Duis magna nisi, feugiat euismod metus blandit, aliquet condimentum mauris. Duis egestas blandit turpis, eget ultricies risus porttitor a. Morbi auctor finibus pharetra. In sit amet sem ornare, tincidunt felis sit amet, gravida lacus. Nunc semper, eros ac fermentum tincidunt, lectus erat semper lacus, lobortis fermentum quam massa a nunc. Donec quis lacinia sapien, viverra venenatis nibh.
</p>
<p>
    Donec urna nisl, ullamcorper vel est eget, euismod euismod tellus. Integer vel rutrum metus, vitae vulputate odio. Sed eget porta sapien. Donec ante sapien, elementum et justo vel, facilisis pellentesque erat. Donec ultrices augue lectus. Ut laoreet nisl eu tincidunt tempor. Proin luctus nibh sed malesuada egestas.
</p>
<p>
    Morbi nisl nulla, lacinia nec gravida non, pulvinar quis tortor. Pellentesque ultricies ipsum vitae dolor eleifend, vel ultrices justo luctus. Cras a nibh vehicula, maximus nulla vitae, efficitur massa. In sollicitudin elit quam, quis rutrum neque luctus eu. Curabitur sodales sagittis posuere. Phasellus nec finibus est. Aenean pretium lobortis libero, tincidunt ullamcorper risus pulvinar sit amet. Cras lobortis metus sit amet justo posuere, ut auctor leo laoreet. Nunc venenatis nisl non lectus efficitur, vitae sollicitudin lorem porta. Donec quam nulla, pellentesque eu erat id, interdum convallis dui. Mauris molestie dolor lobortis, venenatis orci et, rutrum felis. Vivamus congue ornare odio et mollis. Praesent sit amet consectetur odio, in vehicula elit.
</p>
<p>
    Praesent velit erat, congue vitae nisl quis, tincidunt mollis diam. Sed sed tincidunt orci. Sed imperdiet felis quam, ut tincidunt tellus congue ut. Quisque maximus aliquam mattis. Nulla vitae justo fermentum, convallis ex non, tincidunt elit. Suspendisse faucibus mi libero, id condimentum lorem venenatis vel. Nulla tincidunt urna a velit tempus blandit. Sed a finibus lorem, at molestie erat. Phasellus non venenatis orci. Praesent vel libero urna. Integer semper enim sed laoreet euismod. Sed eros erat, ultricies vitae elit non, aliquet vehicula arcu. Aliquam sed sollicitudin arcu. Phasellus auctor velit a elit congue ultrices. Phasellus sit amet dolor vel orci scelerisque laoreet molestie vitae felis. Proin arcu diam, bibendum ut luctus nec, aliquam quis libero.
</p>
<p>
    Morbi in dignissim metus. Curabitur ac ultricies nibh. Quisque augue purus, venenatis vitae augue et, blandit vehicula eros. Suspendisse tellus justo, scelerisque quis laoreet rhoncus, euismod non augue. Aliquam lobortis elit faucibus risus gravida placerat. Nam ultricies nisi a purus tempus vulputate. Vestibulum convallis dapibus maximus. Donec aliquet ornare dui vel porta. Nullam rutrum nibh eget urna iaculis sollicitudin. Maecenas blandit sit amet dolor scelerisque dignissim. Donec sem eros, auctor ut erat sit amet, dictum imperdiet erat. Suspendisse ullamcorper vestibulum vehicula.
</p>